<%= form_for(@investment_fund) do |f| %>
  <% if @investment_fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investment_fund.errors.count, "error") %> prohibited this investment_fund from being saved:</h2>

      <ul>
      <% @investment_fund.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Data_de_Investimento %><br>
    <%= f.date_select :buyDate %>
  </div>
  <div class="field">
    <%= f.label :Taxa_Administrativa %><br>
    <%= f.number_field :admTax, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :Patrimônio_Inicial %><br>
    <%= f.number_field :capital, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :Investimento %><br>
    <%= f.number_field :shareValue, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :Cotas_Iniciais %><br>
    <%= f.number_field :exitTax, :step => 1.0 %>
  </div>
  <div class="field">
    <%= f.label :Gerente_do_Investimento %><br>
    <%= f.text_field :manager %>
  </div>
  <div class="field">
    <%= f.label :Contato_do_Gerente %><br>
    <%= f.text_field :managerContact %>
  </div>
  <div class="field">
    <%= f.label :Carteira %><br>
    <%= f.number_field :wallet_id %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
