<p id="notice"><%= notice %></p>

<h1>Fundo de Investimento</h1>

<table>
  <thead>
    <tr>
      <th>Carteira</th>
      <th>Nome</th>
      <th>Data de Inv.</th>
      <th>Taxa Administ.</th>
      <th>Patrimônio Inic.</th>
      <th>Investimento</th>
      <th>Cotas Inic.</th>
      <th>Gerente</th>
      <th>Contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investment_funds.each do |investment_fund| %>
      <tr>
        <td><%= investment_fund.wallet.name %></td>
        <td><%= investment_fund.name %></td>
        <td><%= investment_fund.buyDate %></td>
        <td><%= investment_fund.admTax %></td>
        <td><%= investment_fund.capital %></td>
        <td><%= investment_fund.shareValue %></td>
        <td><%= investment_fund.exitTax %></td>
        <td><%= investment_fund.manager %></td>
        <td><%= investment_fund.managerContact %></td>
        <td><%= link_to 'Exibir', investment_fund %></td>
        <td><%= link_to 'Editar', edit_investment_fund_path(investment_fund) %></td>
        <td><%= link_to 'Apagar', investment_fund, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Fundo de Investimento', new_investment_fund_path %>
<br>
<%= link_to 'Voltar', wallets_path %>
