<%= form_for(@exchange) do |f| %>
  <% if @exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchange.errors.count, "error") %> prohibited this exchange from being saved:</h2>

      <ul>
      <% @exchange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :initial_income %><br>
    <%= f.text_field :initial_income %>
  </div>
  <div class="field">
    <%= f.label :current_income %><br>
    <%= f.text_field :current_income %>
  </div>
  <div class="field">
    <%= f.label :efficiency %><br>
    <%= f.text_field :efficiency %>
  </div>
  <div class="field">
    <%= f.label :initial_dollar_quotation %><br>
    <%= f.text_field :initial_dollar_quotation %>
  </div>
  <div class="field">
    <%= f.label :initial_euro_quotation %><br>
    <%= f.text_field :initial_euro_quotation %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :buy_date %><br>
    <%= f.datetime_select :buy_date %>
  </div>
  <div class="field">
    <%= f.label :exchange_type %><br>
    <%= f.text_field :exchange_type %>
  </div>
  <div class="field">
    <%= f.label :dollar_quotation %><br>
    <%= f.text_field :dollar_quotation %>
  </div>
  <div class="field">
    <%= f.label :euro_quotation %><br>
    <%= f.text_field :euro_quotation %>
  </div>
  <div class="field">
    <%= f.label :variation_dollar %><br>
    <%= f.text_field :variation_dollar %>
  </div>
  <div class="field">
    <%= f.label :variation_euro %><br>
    <%= f.text_field :variation_euro %>
  </div>
  <div class="field">
    <%= f.label :wallet_id %><br>
    <%= f.text_field :wallet_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
