<p id="notice"><%= notice %></p>

<h1>Listing Exchanges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Initial income</th>
      <th>Current income</th>
      <th>Efficiency</th>
      <th>Initial dollar quotation</th>
      <th>Initial euro quotation</th>
      <th>Discount</th>
      <th>Buy date</th>
      <th>Exchange type</th>
      <th>Dollar quotation</th>
      <th>Euro quotation</th>
      <th>Variation dollar</th>
      <th>Variation euro</th>
      <th>Wallet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.name %></td>
        <td><%= exchange.initial_income %></td>
        <td><%= exchange.current_income %></td>
        <td><%= exchange.efficiency %></td>
        <td><%= exchange.initial_dollar_quotation %></td>
        <td><%= exchange.initial_euro_quotation %></td>
        <td><%= exchange.discount %></td>
        <td><%= exchange.buy_date %></td>
        <td><%= exchange.exchange_type %></td>
        <td><%= exchange.dollar_quotation %></td>
        <td><%= exchange.euro_quotation %></td>
        <td><%= exchange.variation_dollar %></td>
        <td><%= exchange.variation_euro %></td>
        <td><%= exchange.wallet %></td>
        <td><%= link_to 'Show', exchange %></td>
        <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
        <td><%= link_to 'Destroy', exchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exchange', new_exchange_path %>
