<p id="notice"><%= notice %></p>

<h1>Câmbios</h1>

<table>
  <thead>
    <tr>
      <th>Tipo de Câmbio</th>
      <th>Valor do Invest. Inicial</th>
      <th>Data de Compra</th>
      <th>Carteira</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.exchange_type %></td>
        <td><%= exchange.initial_income %></td>
        <td><%= exchange.created_at %></td>
        <td><%= exchange.wallet.name %></td>
        <td><%= link_to 'Exibir', exchange %></td>
        <td><%= link_to 'Editar', edit_exchange_path(exchange) %></td>
        <td><%= link_to 'Apagar', exchange, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo', new_exchange_path %>
<br>
<%= link_to 'Voltar', wallets_path %>