<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Câmbio:</strong>
  <%= @exchange.exchange_type %>
</p>

<p>
  <strong>Valor do Invest. Inicial:</strong>
  <%= @exchange.initial_income %>
</p>

<p>
  <strong>Data de Compra:</strong>
  <%= @exchange.created_at %>
</p>

<p>
  <strong>Valor bruto inical em Reais:</strong>
  <%= convert %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= discount %>
</p>


<p>
  <strong>Valor líquido atual em Reais:</strong>
  <%= convert_current_income %>
</p>




<%= link_to 'Editar', edit_exchange_path(@exchange),  class: 'button info tiny' %> |
<%= link_to 'Voltar', exchanges_path,  class: 'button info tiny' %>