<p id="notice"><%= notice %></p>

<h1>Bolsa de Valores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Receita Inicial</th>
      <th>Receita Atual</th>
      <th>Data de Compra</th>
      <th>Taxa de Compra</th>
      <th>Quantidade</th>
      <th>Carteira</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.initial_income %></td>
        <td><%= stock.current_income %></td>
        <td><%= stock.buy_date %></td>
        <td><%= stock.buy_tax %></td>
        <td><%= stock.amount %></td>
        <td><%= stock.wallet.name %></td>
        <td><%= link_to 'Exibir', stock %></td>
        <td><%= link_to 'Editar', edit_stock_path(stock) %></td>
        <td><%= link_to 'Apagar', stock, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
        <td><%= link_to 'Movimento', stocks_movimentation_stock_path(stock) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo ', new_stock_path, class: 'button info tiny'%>
<%= link_to 'Voltar', wallets_path, class: 'button info tiny' %>
