<div class="row" > 
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Receita Inicial:</strong>
  <%= @stock.initial_income %>
</p>

<p>
  <strong>Receita Atual</strong>
  <%= @stock.current_income %>
</p>

<p>
  <strong>Data de Compra:</strong>
  <%= @stock.buy_date %>
</p>

<p>
  <strong>Taxa de Compra:</strong>
  <%= @stock.buy_tax %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @stock.amount %>
</p>

<p>
  <strong>Carteira:</strong>
  <%= @stock.wallet_id %>
</p>


<%= link_to 'Editar', edit_stock_path(@stock), class: 'button info tiny' %> |
<%= link_to 'Voltar', stocks_path, class: 'button info tiny' %>

<br>
<p>
<strong>Veja a movimentação da sua Bolsa de Valores aqui! </strong>
</p>
<%= link_to 'Movimentação', stocks_movimentation_stock_path(@stock) %>