<p id="notice"><%= notice %></p>

<p>
  <strong>Usuário:</strong>
  <%= @wallet.user.name %>
</p>
<p>
  <strong>Nome:</strong>
  <%= @wallet.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @wallet.comments %>
</p>


<%= link_to 'Editar', edit_wallet_path(@wallet) %> |
<%= link_to 'Voltar', wallets_path %>
