<%= form_for(@direct_treasury) do |f| %>
  <% if @direct_treasury.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direct_treasury.errors.count, "error") %> prohibited this direct_treasury from being saved:</h2>

      <ul>
      <% @direct_treasury.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Título"%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :buyDate, "Data de Compra" %><br>
    <%= f.date_select :buyDate %>
  </div>
  <div class="field">
    <%= f.label :dueDate, "Data de Vencimento" %><br>
    <%= f.date_select :dueDate %>
  </div>
  <div class="field">
    <%= f.label :investment_value, "Valor do Investimento" %><br>
    <%= f.number_field :investment_value, :step => 1.0 %>
  </div>
  <div class="field">
    <%= f.label :acquisitionsTax, "Taxa de Aquisição" %><br>
    <%= f.number_field :acquisitionsTax, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :admTax, "Taxa Administrativa" %><br>
    <%= f.number_field :admTax, :step => 0.1 %>
  </div>
  <div class="field">
    <%= f.label :wallet_id, "Carteira"%><br>
    <%= f.number_field :wallet_id %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
