<%= form_for(@direct_treasury) do |f| %>
  <% if @direct_treasury.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direct_treasury.errors.count, "error") %> prohibited this direct_treasury from being saved:</h2>

      <ul>
      <% @direct_treasury.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Data_de_Compra %><br>
    <%= f.date_select :buyDate %>
  </div>
  <div class="field">
    <%= f.label :Data_da_Venda %><br>
    <%= f.date_select :dueDate %>
  </div>
  <div class="field">
    <%= f.label :Valor_de_Investimento %><br>
    <%= f.number_field :investment_value, :step => 1.0 %>
  </div>
  <div class="field">
    <%= f.label :Taxa_de_Aquisição %><br>
    <%= f.number_field :acquisitionsTax, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :Taxa_Administrativa %><br>
    <%= f.number_field :admTax, :step => 0.1 %>
  </div>
  <div class="field">
    <%= f.label :Carteira %><br>
    <%= f.number_field :wallet_id %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
