<p id="notice"><%= notice %></p>

<h1>Listing Direct Treasuries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Buydate</th>
      <th>Duedate</th>
      <th>Investment value</th>
      <th>Acquisitionstax</th>
      <th>Admtax</th>
      <th>Wallet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_treasuries.each do |direct_treasury| %>
      <tr>
        <td><%= direct_treasury.title %></td>
        <td><%= direct_treasury.buyDate %></td>
        <td><%= direct_treasury.dueDate %></td>
        <td><%= direct_treasury.investment_value %></td>
        <td><%= direct_treasury.acquisitionsTax %></td>
        <td><%= direct_treasury.admTax %></td>
        <td><%= direct_treasury.wallet.name %></td>
        <td><%= link_to 'Show', direct_treasury %></td>
        <td><%= link_to 'Edit', edit_direct_treasury_path(direct_treasury) %></td>
        <td><%= link_to 'Destroy', direct_treasury, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direct treasury', new_direct_treasury_path %>
<br>
<%= link_to 'Back', wallets_path %>
