<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "EqLibra" %></title>

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		
		<% if user_signed_in? %>
			<%= yield :top_navBar %>
			<%= yield :left_sideBar %>
		<% end %>

		<%= yield :top_content %>

		<div class="container">
			<h1><%= yield :header %></h1>
			<%= yield %>
		</div>

	</body>

</html>

